body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: #FEFBEA;
}

#header {
  width: 75vw;
  font-size: 8.5em;
  margin-bottom: 0;
  margin-top: 1em;
  text-align: center;
  font-weight: 300;
  color: #3b2921;
  text-decoration: overline;
}

#img-container {
  background-image: url('./imgs/Kim-by-lauren-crop.JPG');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  /* width: 800px;
  height: 350px; */
  width: 75vw;
  height: 40vh;
  padding: 0;
}

#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  padding: 0;
  color: lightgray;
}

#actor, #singer, #software-engineer {
  font-size: 2em;
  font-weight: 300;
}

#reps {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 1em;
}

#agents, #manager, #commercial {
  padding: 2em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  /* font-size: 1em; */
  font-weight: 600;
  text-decoration: overline;
  text-transform: uppercase;
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }

  #about {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0;
    color: gray;
  }

  #actor, #singer, #software-engineer {
    font-size: 2em;
    font-weight: 300;
  }

  #reps {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 1em;
  }
}
